:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --desatblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
  --shadow1: hsla(223, 47%, 23%, 0.16);
  --shadow2: hsla(223, 47%, 23%, 0.12);
}
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*Mobile first design*/
[class*="col"] {
  float: left;
  padding: 15px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
  color: var(--darkblue);
  background-image: url("images/pattern-background-desktop.svg") no-repeat;
  background-color: var(--verypaleblue);
}
h1 {
  font-weight: 900;
  font-size: 1.45em;
}
h2 {
  font-weight: 700;
  font-size: 1.05em;
}
p {
  font-weight: 500;
  font-size: 1em;
}
.container {
  width: 365px;
  height: auto;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.head-img > img {
  width: 100%;
}
.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.pcm-card {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 65px 0 var(--shadow1), 0 2px 40px 0 var(--shadow2);
  background-color: white;
}
.text {
  padding: 15px 25px;
}
.heading {
  text-align: center;
  padding: 1em;
}
.description {
  text-align: center;
  padding: 0 1em 1em;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
.sub-container {
  box-sizing: content-box;
  padding: 10px;
  margin-top: 1rem;
  background-color: var(--verypaleblue);
  border-radius: 5px;
}
.desc {
  padding: 0 0 4px;
}

.link {
  margin-top: 10px;
}

.link a {
  color: var(--brightblue);
  font-weight: 700;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--brightblue);
  box-shadow: 0 25px 15px var(--paleblue);
  cursor: pointer;
}

.cancel {
  margin-top: 2rem;
  text-align: center;
  padding: 2rem 0;
}

.attribution {
  position: relative;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
