:root {
  --paleblue: hsl(225, 100%, 94%);
  --brightblue: hsl(245, 75%, 52%);
  --verypaleblue: hsl(225, 100%, 98%);
  --desatblue: hsl(224, 23%, 55%);
  --darkblue: hsl(223, 47%, 23%);
}

body {
  font-family: "Red Hat Display";
}
.display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.pcm-card,
.pcm-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pcm-card-4,
.pcm-hover-shadow:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  /* color: hsl(228, 45%, 44%); */
}
